<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/head-css :: head-css"/>
    <title>Task edit</title>
</head>

<body background="/images/background.png">

<div th:replace="fragments/header :: navbar"/>

<h2>Edit task details</h2>

<form class="row g-3 needs-validation" method="post" novalidate
      th:action="@{/tasks/{id}/edit(id = ${task.id})}"
      th:object="${task}">

    <div>

        <div class="col-md-4 form-group required">
            <label class="form-label" for="summary">Summary</label>
            <input class="form-control" id="summary" placeholder="Summary" required th:field="*{summary}" type="text">
        </div>

    </div>

    <div class="col-12">
        <a th:href="@{/tasks}">
            <button class="btn btn-secondary" id="cancel" type="button">Cancel</button>
        </a>
        <button class="btn btn-primary" id="save" type="submit">Update</button>
    </div>

</form>

<div th:replace="fragments/footer :: footer"/>
<div th:replace="fragments/footer-js :: footer-js"/>

</body>
</html>