<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/head-css :: head-css"/>
    <title>Tasks</title>
</head>

<body background="/images/background.png">

<div th:replace="fragments/header :: navbar"/>

<div class="container">
    <div class="d-flex mb-3">
        <div class="me-auto p-2">
            <h1>Tasks</h1>
        </div>
        <div class="p-2">
            <a th:href="@{/tasks/add}">
                <button class="btn btn-primary" type="button">Create task</button>
            </a>
        </div>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Summary</th>
            <th scope="col">Description</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="task : ${tasks}">
            <td>
                <a th:href="@{/tasks/{id} (id = ${task.id})}" th:text="${task.summary}"></a>
            </td>
            <td>
                <p th:text="${task.description}"></p>
            </td>
            <td>
                <!-- edit button -->
                <a th:href="@{/tasks/{id}/edit(id = ${task.id})}">
                    <i class="fas fa-edit"></i>
                </a>

                <!-- delete button -->
                <a th:href="@{/tasks/{id}/delete(id = ${task.id})}">
                    <i class="fas fa-trash"></i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>

</div>

<div th:replace="fragments/footer :: footer"/>
<div th:replace="fragments/footer-js :: footer-js"/>

</body>
</html>