<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/head-css :: head-css"/>
    <title>Sprint edit</title>
</head>

<body>

<div th:replace="fragments/header :: navbar"/>

<h2>Edit sprint details</h2>

<form class="row g-3 needs-validation" method="post" novalidate
      th:action="@{/sprints/{id}/edit(id = ${sprint.id})}"
      th:object="${sprint}">

    <div>

        <!-- sprint name -->
        <div class="col-md-4 form-group required">
            <label for="name" class="form-label">Name</label>
            <input class="form-control" id="name" placeholder="Sprint name" required th:field="*{name}" type="text">
        </div>

        <div class="col-md-4 form-group">
            <label class="form-label" for="dateFrom">Date from</label>
            <input id="dateFrom" th:field="*{dateFrom}" type="date"/>
        </div>

        <div class="col-md-4 form-group">
            <label class="form-label" for="dateTo">Date to</label>
            <input id="dateTo" th:field="*{dateTo}" type="date"/>
        </div>

    </div>

    <div class="col-12">
        <a th:href="@{/sprints}">
            <button class="btn btn-secondary" id="cancel" type="button">Cancel</button>
        </a>
        <button class="btn btn-primary" id="save" type="submit">Update</button>
    </div>

</form>

<!-- error -->
<div class="alert alert-danger" role="alert" th:if="${errorMessage}" th:utext="${errorMessage}"></div>

<div th:replace="fragments/footer :: footer"/>
<div th:replace="fragments/footer-js :: footer-js"/>
<script th:src="@{/js/validation.js}"></script>

</body>
</html>