<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/head-css :: head-css"/>
    <title>Project edit</title>
</head>

<body>

<div th:replace="fragments/header :: navbar"/>

<h2>Edit sprint details</h2>

<form class="row g-3 needs-validation" method="post" novalidate
      th:action="@{/sprints/{id}/edit(id = ${sprint.id})}"
      th:object="${sprint}">

    <div>

        <div class="col-md-4 form-group required">
            <label for="name" class="form-label">Name</label>
            <input class="form-control" id="name" placeholder="Sprint name" required th:field="*{name}" type="text">
            <div class="invalid-feedback">
                A sprint name can't be empty.
            </div>
        </div>

        <div class="col-md-2 form-group required">
            <label for="sprintKey" class="form-label">Key</label>
            <input class="form-control" id="sprintKey" placeholder="Sprint key" required th:field="*{sprintKey}"
                   type="text">
            <div class="invalid-feedback">
                Use 2 or 3 uppercase letters.
            </div>
        </div>

        <div class="col-md-4 form-group required">
            <label for="sprintLead" class="form-label">Sprint lead</label>
            <select class="form-select" id="sprintLead" required th:field="${sprint.sprintLead}">
                <option selected th:value="null">Select a sprint lead</option>
                <option th:each="user : ${users}"
                        th:text="|${user.firstName} ${user.lastName}|"
                        th:value="${user.id}">
                </option>
            </select>
            <div class="invalid-feedback">
                You need a lead for your Sprint.
            </div>
        </div>

    </div>

    <div class="col-12">
        <a th:href="@{/sprints}">
            <button class="btn btn-secondary" id="cancel" type="button">Cancel</button>
        </a>
        <button class="btn btn-primary" id="save" type="submit">Update</button>
    </div>

</form>

<!-- error -->
<div class="alert alert-danger" role="alert" th:if="${errorMessage}" th:utext="${errorMessage}"></div>

<div th:replace="fragments/footer :: footer"/>
<div th:replace="fragments/footer-js :: footer-js"/>
<script th:src="@{/js/validation.js}"></script>

</body>
</html>