<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/head-css :: head-css"/>
    <title>Sprint add</title>
</head>

<body>

<div th:replace="fragments/header :: navbar"/>

<h2>Add sprint details</h2>

<form class="row g-3 needs-validation" novalidate
      th:action="@{/sprints/add}"
      th:object="${sprint}" method="post">

    <div>

        <div class="col-md-4 form-group required">
            <label for="name" class="form-label">Name</label>
            <input class="form-control" id="name" placeholder="Sprint name" required th:field="*{name}" type="text">
        </div>

        <div class="col-md-4 form-group">
            <label class="form-label" for="dateFrom">Date from</label>
            <input id="dateFrom" th:field="*{dateFrom}" type="date"/>
        </div>

        <div class="col-md-4 form-group">
            <label class="form-label" for="dateTo">Date to</label>
            <input id="dateTo" th:field="*{dateTo}" type="date"/>
        </div>

    </div>

    <div class="col-12">
        <a th:href="@{/sprints}">
            <button class="btn btn-secondary" id="cancel" type="button">Cancel</button>
        </a>
        <button class="btn btn-primary" id="save" type="submit">Create project</button>
    </div>

</form>

<div th:replace="fragments/footer :: footer"/>
<div th:replace="fragments/footer-js :: footer-js"/>

</body>
</html>
