<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/head-css :: head-css"/>
    <link th:href="@{/css/login.css}" th:rel="stylesheet"/>
    <title>Landing</title>
</head>

<body>

<header>

</header>

<div class="container">
    <br/>
    <br/>
    <br/>
    <br/>

    <center><b id="login-name">Task-App </b></center>
    <div class="form-group">
        <input type="submit" class="btn btn-success" value="Register" style="border-radius:0px;">
        <input type="reset" class="btn btn-danger" value="Reset" style="border-radius:0px;">
    </div>

        </div>
    </div>
</div>
<div th:replace="fragments/footer-js :: footer-js"/>

</body>
</html>