<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/head-css :: head-css"/>
    <link th:href="@{/css/login.css}" th:rel="stylesheet"/>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>Register</title>
</head>

<body>

<header>

</header>

<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div class="fadeIn first">
            <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" />
        </div>

        <!-- Login Form -->
        <form>
            <input class="fadeIn second" id="email" placeholder="Email" name="login" type="text">
            <input class="fadeIn third" id="firstname" placeholder="First Name" name="password" type="text">
            <input class="fadeIn second" id="lastname" placeholder="Last Name" name="login" type="text">
            <input class="fadeIn third" id="password" placeholder="Password" name="password" type="text">
            <input class="fadeIn third" id="confirmpassword" placeholder="Confirm Password" name="password" type="text">
        </form>
        <div>
            <a th:href="@{/register/add}">
                <input class="fadeIn fourth" id="register" value="Register" name="register" type="submit">
            </a>
        </div>
    </div>
</div>
<footer>

</footer>

<div th:replace="fragments/footer-js :: footer-js"/>

</body>
</html>
